.categories1 {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  gap: 1rem;
  margin-top: 0.7rem;
  background-color: #fdad00;
  width:200px;
  padding: 0.5rem;
}
.categories1-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.category-name{
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}
header{
  background-color: #ffc400;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.header-title-container{
  background-color: #ffae00;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.landing-page-container, .create-userform-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  height: 200px;
  background-color: #ffae00;
  border-radius: 0.3rem;
  margin-top: 10rem;
  border: 1px solid #2e2e2e;
}
.create-user-container, .login-user-container, .guest-user-container{
  gap: 1rem;
  background-color: #f1f0ea;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #2e2e2e;
}
.create-userform-title
{
  text-decoration: none;
  margin-top:1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}